<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:1234/registerservice"
                binding="netTcpBinding"
                contract="Pexeso.ChatLibrary.RegisterService.IRegisterService"
                name="MyRegisterTcpEndpoint" />
      <endpoint address="net.tcp://localhost:1234/chatservice"
                binding="netTcpBinding"
                contract="Pexeso.ChatLibrary.ChatService.IChatService"
                name="MyChatTcpEndpoint" />
      <endpoint address="net.tcp://localhost:1234/pexesoservice"
                binding="netTcpBinding"
                contract="Pexeso.ChatLibrary.PexesoService.IPexesoService"
                name="MyPexesoTcpEndpoint" />
    </client>
  </system.serviceModel>
</configuration>